@import url(../../colors.css);

body{
    background-color: var(--background-principal);
}

.custom-card {
    background-color: var(--background-card) !important;
    color: var(--text);
  }
  
  
  .content{
    background-color: var(--background-secondary);
    padding: 15px;
}

#root {
    min-height: 100vh;
  }