@import url(../../colors.css);

/* Defina o corpo do documento */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-secondary);
}

/* Estilo para o conteúdo */
.content {
  flex: 1;
  background-color: var(--background-secondary);
  padding: 15px;
}

.custom-card, .card-user {
  background-color: var(--background-card) !important;
  color: var(--text);
}
